<template>
  <el-dialog title="导出设置" :visible.sync="dialogShow" append-to-body class="ex-dialog">
  <div class="box-export">
    <div class="ex-fields">
      <h2>导出字段</h2>
      <app-draggable v-model="exList" :options="{group:'people'}" @start="drag=true" @end="drag=false">
        <div v-for="(item, index) in exList" :key="item.id" class="field-item">
          <el-button type="success" plain size="mini">{{index+1}} {{item.name}}<i class="el-icon-error el-icon--right" @click="delFields(index)" /></el-button>
        </div>
      </app-draggable>
    </div>
    <div class="fields">
      <h2>增加字段</h2>
      <div v-for="(item, index) in reList" :key="item.id" class="field-item">
        <el-button size="mini">{{item.name}}<i class="el-icon-error el-icon--right" @click="addFields(index)" /></el-button>
      </div>
    </div>
    <el-table
      :data="tableList"
      style="width: 100%" id="out-table" v-show="false">
      <el-table-column
        prop="item.code"
        :label="item.name" v-for="item in exList">
      </el-table-column>
    </el-table>
    <div class="ex-btn">
      <el-button type="success" size="small" @click="exportExcel">导出<i
        class="el-icon-download el-icon--right"></i></el-button>
      <el-button type="info" size="small" @click="closeDialog">取消<i
        class="el-icon-close el-icon--right"></i></el-button>
    </div>
  </div>
  </el-dialog>
</template>

<style>
  .fade-enter-active, .fade-leave-active { transition: opacity .5s; }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ { opacity: 0; }
  .box-export .field-item { display: inline-block;  margin: 8px 0 0 10px; }
  .box-export h2{ font-size: 12px; font-weight: bold; padding-left: 10px; }
  .box-export .ex-btn { text-align: center; }
  .box-export .el-dialog__header { border-bottom: #ddd solid 1px; font-size: 14px; font-weight: bold; }
  .box-export .ex-btn { padding-top: 20px; }
  .ex-dialog .el-dialog__body { padding-top: 0; }
  .ex-dialog .el-dialog__header { border-bottom: solid #ccc 1px; padding: 10px 15px 5px; font-weight: bold; }
</style>

<script>
  import Draggable from 'vuedraggable'
  import FileSaver from 'file-saver'
  import XLSX from 'xlsx'

  const villageList = [{value: "1", label: "姓名"}, {value: "2", label: "户编号"}, {value: "3", label: "人员编号"}, {value: "4", label: "政治面貌"}, {value: "5", label: "与户主关系"}, {value: "6", label: "性别"}, {value: "7", label: "民族"}, {value: "8", label: "证件类型"}, {value: "9", label: "证件号码"}];

    export default {
        name: "Export",
        props: {
          dialogShow: false
        },
        components: {
         'app-draggable': Draggable,
          FileSaver,
          XLSX
        },
      data(){
          return {
            exList:[
              {id:"1", name:'姓名', code: 'name'},
              {id:"2", name:'户编号', code: 'code1'},
              {id:"3", name:'人员编号', code: 'code2'},
              {id:"4", name:'与户主关系', code: 'code3'},
              {id:"5", name:'所在市', code: 'code4'}
            ],
            reList: [
              {id:"6", name:'姓名1', code: 'code5'},
              {id:"7", name:'户编号2', code: 'code6'},
              {id:"8", name:'人员编号3', code: 'code7'},
              {id:"9", name:'与户主关系4', code: 'code8'},
              {id:"10", name:'所在市5', code: 'code9'},
              {id:"11", name:'所在市6', code: 'code10'},
              {id:"12", name:'所在市7', code: 'code11'},
              {id:"13", name:'所在市8', code: 'code12'},
              {id:"14", name:'所在市9', code: 'code13'},
              {id:"15", name:'所在市10', code: 'code14'},
              {id:"16", name:'所在市11', code: 'code15'},
              {id:"17", name:'所在市12', code: 'code16'},
              {id:"18", name:'所在市13', code: 'code17'},
              {id:"19", name:'所在市14', code: 'code18'},
              {id:"20", name:'所在市15', code: 'code19'}
            ],
            tableList: [],
          }
      },
        methods: {
          delFields(i){
            this.reList.push(this.exList[i]);
            this.exList.splice(i, 1);
          },
          addFields(i){
            this.exList.push(this.reList[i]);
            this.reList.splice(i, 1);
          },
          exportExcel () {
            var wb = XLSX.utils.table_to_book(document.querySelector('#out-table'))
            var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'array' })
            try {
              FileSaver.saveAs(new Blob([wbout], { type: 'application/octet-stream' }), `贫困人员信息表${new Date()}.xlsx`)
            } catch (e) { if (typeof console !== 'undefined') console.log(e, wbout) }
            return wbout
          },
          closeDialog(){
            this.$emit("close-export-dialog");
          }
        },
    }
</script>